{% extends 'layout.html.twig' %}
{% block bread_crumb %}Produits en stock{% endblock %}
{% block title %}Product index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-secondary btn-sm">Détails</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-success btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
