{% extends 'layout.html.twig' %}

{% block title %}Output{% endblock %}

{% block body %}
    <h1>Output</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ output.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ output.quantity }}</td>
            </tr>
            <tr>
                <th>Outputed_at</th>
                <td>{{ output.outputedAt ? output.outputedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ output.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('output_index') }}">back to list</a>

    <a href="{{ path('output_edit', {'id': output.id}) }}">edit</a>

    {{ include('output/_delete_form.html.twig') }}
{% endblock %}
