<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('css/lib/calendar2/semantic.ui.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/lib/calendar2/pignose.calendar.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/lib/owl.carousel.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/lib/owl.theme.default.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="fix-header fix-sidebar">
        <!-- Preloader - style you can find in spinners.css -->
        <div class="preloader">
            <svg class="circular" viewbox="25 25 50 50">
                <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- All Jquery -->
            <script src="js/lib/jquery/jquery.min.js"></script>
            <!-- Bootstrap tether Core JavaScript -->
            <script src="js/lib/bootstrap/js/popper.min.js"></script>
            <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
            <!-- slimscrollbar scrollbar JavaScript -->
            <script src="js/jquery.slimscroll.js"></script>
            <!--Menu sidebar -->
            <script src="js/sidebarmenu.js"></script>
            <!--stickey kit -->
            <script src="js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
            <!--Custom JavaScript -->


            <!-- Amchart -->
            <script src="js/lib/morris-chart/raphael-min.js"></script>
            <script src="js/lib/morris-chart/morris.js"></script>
            <script src="js/lib/morris-chart/dashboard1-init.js"></script>


            <script src="js/lib/calendar-2/moment.latest.min.js"></script>
            <!-- scripit init-->
            <script src="js/lib/calendar-2/semantic.ui.min.js"></script>
            <!-- scripit init-->
            <script src="js/lib/calendar-2/prism.min.js"></script>
            <!-- scripit init-->
            <script src="js/lib/calendar-2/pignose.calendar.min.js"></script>
            <!-- scripit init-->
            <script src="js/lib/calendar-2/pignose.init.js"></script>

            <script src="js/lib/owl-carousel/owl.carousel.min.js"></script>
            <script src="js/lib/owl-carousel/owl.carousel-init.js"></script>
            <script src="js/scripts.js"></script>
            <!-- scripit init-->
            <script src="js/custom.min.js"></script>

        {% endblock %}
    </body>
</html>

